.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .bg {
        position: absolute;
        width: 100%;
    }
    .cup {
        position: absolute;
        margin-top: 800px;
        transform: translateX(110%);
    }
    .conf {
        position: absolute;
        width: 100%;
        margin-top: 300px;
        display: none;
    }
    .conf2 {
        position: absolute;
        width: 100%;
        display: none;
    }
    .bg_lt {
        position: absolute;
        width: 100%;
        margin-left: -1500px;
    }
    .bg_rt {
        position: absolute;
        width: 100%;
        margin-left: 1500px;
    }
    .text {
        width: 100%;
        position: absolute;
        color:white;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        .one {
            margin-top: 200px;
            font-size: 150px;
            font-family: 'DIN Next LT Pro';
            font-weight: 700;
            display: none;
        }
        .two {
            margin-top: -50px;
            font-size: 105px;
            font-family: 'DIN Next LT Pro';
            font-weight: 700;
            display: none;

        }
        .three {
            margin-top: -30px;
            font-size: 60px;
            font-family: 'DIN Next LT Pro';
            font-weight: 700;
            display: none;
        }
    }
    .port_lg {
        position: absolute;
        margin-top: 250px;
        margin-left: 200px;
        display: none;
    }
    .dal_lg {
        position: absolute;
        margin-top: 250px;
        margin-left: 1000px;
        display: none;
    }
    .bg2 {
        position: absolute;
        width: 100%;
        display: none;
    }
}

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
    opacity: 0.56;
    .popup {
        position: absolute;
    }
}


@import 'fonts';